{
  "Version": 3,
  "FileReferences": {
    "Moc": "teacher.moc3",
    "Textures": [
      "textures/texture_00.png"
    ],
    "Physics": "teacher.physics3.json",
    "Pose": "teacher.pose3.json",
    "Expressions": [
      {
        "Name": "normal",
        "File": "expressions/normal.exp3.json"
      },
      {
        "Name": "happy",
        "File": "expressions/happy.exp3.json"
      }
    ],
    "Motions": {
      "Idle": [
        {
          "File": "motions/idle.motion3.json"
        }
      ],
      "Talk": [
        {
          "File": "motions/talk.motion3.json"
        }
      ]
    }
  },
  "Groups": [
    {
      "Target": "Parameter",
      "Name": "EyeBlink",
      "Ids": [
        "ParamEyeLOpen",
        "ParamEyeROpen"
      ]
    },
    {
      "Target": "Parameter",
      "Name": "LipSync",
      "Ids": [
        "ParamMouthOpenY"
      ]
    }
  ]
}

